<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div>
        <div class="image">
            <img src="/images/Product-1.webp" width="500" height="500" alt="Green Olive & Lavender Scalp Oil" style="float: left;">
        </div>
        <div class="about">
            <h1>Product Name:Green Olive & Lavender Scalp Oil</h1>
            <h1>Cost Price: Rupees 400</h1>
            <h1>Selling Price: Rupees 500</h1>
            <h4>Expiry date: 9 August,2025</h4>
        </div>
    </div>
    
    <!-- <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">00</span>
        <span class="plus">+</span>
    </div> -->
    
    <p>Stock Left <%= stock %></p>
    <form action="https://project-shop-re5vekj8i-gp-coderepics-projects.vercel.app/" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <button type="submit">Purchase</button>
    </form>
    

    <script type="text/javascript" src="index.js"></script>
</body>
</html>