<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
</head>
<body>
    <form method="post" action="/stock">
        <label>Enter the stock of the product oil</label>
        <input type="number" name="oilstock" value="PATCH" placeholder="Like30,40,50....." />
        <button type="submit">Submit</button>
    </form>
</body>
</html>